@charset 'UTF-8';

body {
    font-size: 1em;
    font-family: 'Noto Sans JP', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: bold;
    line-height: 1.7;
    color: #272937;
    background-color: #dad9ce;
    background-image: linear-gradient(transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06)), linear-gradient(90deg, transparent 95%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06));
    background-size: 16px 16px;
    background-repeat: repeat;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    margin: 0;
}

#contents {
    overflow: hidden;
}

main {
    margin: 0 5%;
}


/*header*/
.start {
    background: #dad9ce;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
}

.start p {
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
    width: 280px;
}

.start svg {
    width: 40vw;
}

/* =========================================== */
/* TextアニメーションCSS コード */
/* =========================================== */
.st0 {
    fill: none;
    stroke: #272937;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #FFFFFF;
    stroke: #272937;
    stroke-width: 7;
    stroke-miterlimit: 10;
}

.logo0 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH .1s ease-in-out alternate 0s forwards;
}

.logo1 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH .2s ease-in-out alternate 0s forwards;
    animation-delay: .2s;
}

.logo2 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH .3s ease-in-out alternate 0s forwards;
    animation-delay: .3s;
}

.logo3 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH .4s ease-in-out alternate 0s forwards;
    animation-delay: .4s;
}

.logo4 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH .5s ease-in-out alternate 0s forwards;
    animation-delay: .5s;
}

.logo5 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH .6s ease-in-out alternate 0s forwards;
    animation-delay: .6s;
}

.logo6 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH .7s ease-in-out alternate 0s forwards;
    animation-delay: .7s;
}

.logo7 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH .8s ease-in-out alternate 0s forwards;
    animation-delay: .8s;
}

.logo8 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH .9s ease-in-out alternate 0s forwards;
    animation-delay: .9s;
}

.logo9 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH 1s ease-in-out alternate 0s forwards;
    animation-delay: 1s;
}

.logo10 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH 1.1s ease-in-out alternate 0s forwards;
    animation-delay: 1.1s;
}

.logo11 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH 1.2s ease-in-out alternate 0s forwards;
    animation-delay: 1.2s;
}

.logo12 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH 1.3s ease-in-out alternate 0s forwards;
    animation-delay: 1.3s;
}

.logo13 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: DASH 1.1s ease-in-out alternate 0s forwards;
    animation-delay: 1.4s;
}




@keyframes DASH {
    0% {
        stroke-dashoffset: 4000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes DASH {
    0% {
        stroke-dashoffset: 4000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}




/*nav*/
nav {
    margin-top: 5vh;
}

nav ul {
    text-align: center;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li img {
    width: 10vw;
    margin: 10px;
}

ul li img:hover {
    transform: translate(5px, 5px);
    opacity: .6;
    cursor: pointer;
}


/*main*/
main {
    text-align: center;
    margin-bottom: 100px;
}

#works {
    margin-top: 10vh;
}

#works h1 {
    text-align: center;
    color: #272937;
    font-family: 'HG教科書体';
    font-size: 5.3em;
}

#works img {
    width: 500px;
    margin: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 5);
}

#works img:hover {
    transform: translate(5px, 5px);
    cursor: pointer;
}

/*footer*/
footer {
    text-align: center;
}

footer p {
    color: #272937;
    font-size: 1.2em;
    font-family: 'HG教科書体';
}


/*caption*/

#caption {
    text-align: center;
    margin-top: 5% 5% 0 5%;
    color: #272937;
}

#caption h1 {
    text-align: left;
    color: #272937;
    font-family: 'HG教科書体';
    font-size: 5.3em;
    border-bottom: 3px solid #272937;
    position: relative;
}

#sub_nav {
    position: absolute;
    top: 10vh;
    right: 5vw;
}

#caption ul li a {
    font-size: 1.3em;
    color: #272937;
}

#caption ul li img {
    width: 100px;
}

#caption ul li a:hover {
    opacity: .6;
    cursor: pointer;
    transform: translate(5px, 5px);
}

figure {
    margin-top: 3%;
}

#site {
    display: flex;
    justify-content: space-around;
}

#site a:nth-of-type(2) {
    color: #272937;
}

#site a:nth-of-type(2):hover  {
    transform: translate(5px, 5px);
    border-bottom: 3px dotted #272937;
}

#site h2 {
    font-size: 2em;
}

#site img {
    width: 50vw;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 5);
}

#site img:hover {
    transform: translate(5px, 5px);
    cursor: pointer;
}

#site p {
    margin-top: 50px;
    width: 30vw;
    font-size: 1.2em;
    line-height: 2em;
    text-align: left;
}


/*about*/
#about {
    display: flex;
    justify-content: space-around;
}

#about img {
    width: 30vw;
}

#about p {
    margin-top: 50px;
    width: 37vw;
    text-align: left;
    font-size: 1.2em;
    line-height: 2em;
}


/*********** モバイル版 ***********/

@media (max-width: 767px) {
    .start p {
        position: fixed;
        left: 65%;
        top: 50%;
    }

    ul li img {
        width: 20vw;
    }

    #works h1,
    #caption h1 {
        font-size: 3em;
    }

    footer p {
        font-size: .8em;
    }

    #sub_nav {
        position: absolute;
        top: 9vh;
        right: 3vw;
    }

    #caption ul li a {
        font-size: .8em;
        color: #272937;
    }

    #caption ul li img {
        width: 50px;
        margin: 0;
    }

    #site,
    #about {
        display: block;
    }

    #site h2 {
        font-size: 1.1em;
    }

    #site img,
    #about img {
        width: 80vw;
    }

    #site p,
    #about p {
        margin-top: 30px;
        width: 80vw;
        font-size: .8em;
        line-height: 2em;
        text-align: left;
    }


}
